<h2 class="screen-align">Activedetails</h2>
<div id="template-iuxy" class="gjs-row">
    <div id="template-iocz" class="gjs-cell">
        <div id="template-ipfa" class="gjs-row">
            <div id="template-iual" class="gjs-cell">
                <div id="template-inti" class="gjs-row">
                    <div id="template-iooi" class="gjs-cell">
                        <img id="template-isxd" src="https://grapesjs-images.s3.amazonaws.com/grapesjsimages/Person%20Details.png"
                        class="" />
                        <div id="template-iqwh" class="">
                            <div id="template-icewf" class="">Person Details</div>
                        </div>
                    </div>
                </div>
                <div id="template-iptho" class="gjs-row">
                    <div id="template-isrnh" class="gjs-cell">
                        <img src="https://grapesjs-images.s3.amazonaws.com/grapesjsimages/Bmi%20Details.png"
                        id="template-i4sei" class="" />
                        <div id="template-it9hk" class="">
                            <div id="template-isdlt" class="">BMI Details</div>
                        </div>
                    </div>
                </div>
                <div id="template-ix20w" class="gjs-row">
                    <div id="template-ij4s4" class="gjs-cell">
                        <img src="https://grapesjs-images.s3.amazonaws.com/grapesjsimages/Active%20Details.png"
                        id="template-il7fp" class="" />
                        <div id="template-iux12" class="">
                            <div id="template-iugx9" class="">Active Details</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="template-ikqg" class="gjs-cell">
        <div id="template-iouij" class="gjs-row">
            <div id="template-i7u6j" class="gjs-cell">
                <div id="template-ixlk2" class="gjs-row">
                    <div id="template-i9omh" class="gjs-cell">
                        <div id="template-ils3u" class="">
                            <div id="template-imayn" class="">How Active Are You?</div>
                        </div>
                        <div id="template-iejjj" class="">
                            <ng-select id="template-iw41m" name="dynamicdropdown_template-iw41m" [searchable]="true"
                            [virtualScroll]="true" [items]="itemArray" bindLabel="" bindValue="" class="form-control "></ng-select>
                        </div>
                        <div value="1" id="template-iuc6e" class="">
                            <div id="template-iathh" class="">1</div>
                        </div>
                    </div>
                </div>
                <div id="template-i6y3k" class="gjs-row">
                    <div id="template-ijhr4" class="gjs-cell">
                        <div id="template-izjog" class="">
                            <div id="template-it7hy" class="">Food Preference</div>
                        </div>
                        <div id="template-i175s" class="">
                            <ng-select id="template-id96h" name="dynamicdropdown_template-id96h" [searchable]="true"
                            [virtualScroll]="true" [items]="itemArray" bindLabel="" bindValue="" class="form-control "></ng-select>
                        </div>
                        <div value="1" id="template-iwfpp" class="">
                            <div id="template-ikh37" class="">1</div>
                        </div>
                    </div>
                </div>
                <div id="template-inujl" class="gjs-row">
                    <div id="template-iqydw" class="gjs-cell">
                        <div id="template-i9ubj" class="">
                            <div id="template-iujlm" class="">Fitness Level</div>
                        </div>
                        <div id="template-ij35i" class="">
                            <ng-select id="template-ia0m2" name="dynamicdropdown_template-ia0m2" [searchable]="true"
                            [virtualScroll]="true" [items]="itemArray" bindLabel="" bindValue="" class="form-control "></ng-select>
                        </div>
                        <div value="1" id="template-iajsh" class="">
                            <div id="template-i04nq" class="">1</div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="template-izwun" class="gjs-cell">
                <div id="template-i50vh" class="gjs-row">
                    <div id="template-ipxpr" class="gjs-cell">
                        <div id="template-imt8j" class="">
                            <div id="template-iufaz" class="">Any medical condition we should be cautious about?</div>
                        </div>
                        <div id="template-iit22" class="gjs-row">
                            <div id="template-i4bx6" class="gjs-cell">
                                <div id="template-ivxc8" class="">
                                    <div id="template-igjcg" class="">Diabetes</div>
                                </div>
                            </div>
                            <div id="template-iqwk1" class="gjs-cell">
                                <div id="template-iyy3w" class="">
                                    <div id="template-iqpf7" class="">Hypertension</div>
                                </div>
                            </div>
                            <div id="template-ivd72" class="gjs-cell">
                                <div id="template-ixh9h" class="">
                                    <div id="template-ioqym" class="">Thyroid</div>
                                </div>
                            </div>
                        </div>
                        <div id="template-ie2ni" class="gjs-row">
                            <div id="template-ifxb8" class="gjs-cell">
                                <div id="template-ijb0j" class="">
                                    <div id="template-i341c" class="">Cholesterol</div>
                                </div>
                            </div>
                            <div id="template-imxfg" class="gjs-cell">
                                <div id="template-icxcl" class="">
                                    <div id="template-izt9t" class="">PCOS</div>
                                </div>
                            </div>
                            <div id="template-iqi6g" class="gjs-cell">
                                <div id="template-i04d9" class="">
                                    <div id="template-i611x" class="">Physical Injury</div>
                                </div>
                            </div>
                        </div>
                        <div id="template-ijp6i" class="gjs-row">
                            <div id="template-ix5o5" class="gjs-cell">
                                <div id="template-i4bih" class="">
                                    <div id="template-imlkx" class="">Stress</div>
                                </div>
                            </div>
                            <div id="template-isr6d" class="gjs-cell">
                                <div id="template-iirxe" class="">
                                    <div id="template-ij6tf" class="">Anxiety</div>
                                </div>
                            </div>
                            <div id="template-imsf2" class="gjs-cell">
                                <div id="template-i6ixn" class="">
                                    <div id="template-i7t4b" class="">Depression</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="template-il4sx" class="gjs-row">
                    <div id="template-in906" class="gjs-cell">
                        <div id="template-i3gt3" class="">
                            <div id="template-if729" class="">Other</div>
                        </div>
                    </div>
                </div>
                <div id="template-i638z" class="gjs-row">
                    <div id="template-i2d4b" class="gjs-cell">
                        <div id="template-iwt3i" class="">
                            <div id="template-if5s7" class="">Back</div>
                        </div>
                    </div>
                    <div id="template-iyoj7" class="gjs-cell">
                        <button id="template-iwmjg" class="button btn btn-primary ">
                            <div id="template-iz3x6" class="">Next</div>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>