<h2 class="screen-align">Summeryscreens</h2>
<div id="template-igc2" class="gjs-row">
    <div id="template-ixw5" class="gjs-cell">
        <div id="template-io7m" class="gjs-row">
            <div id="template-isln" class="gjs-cell">
                <div id="template-iw7o" class="gjs-row">
                    <div id="template-ipss" class="gjs-cell">
                        <img id="template-i8w46" src="https://grapesjs-images.s3.amazonaws.com/grapesjsimages/Group%2018318.png"
                        class="" />
                    </div>
                    <div id="template-iukv" class="gjs-cell">
                        <div id="template-ip81" class="">
                            <div id="template-idoor" class="">BUILDYOUR</div>
                        </div>
                        <div id="template-iecbs" class="">
                            <div id="template-idvw6" class="">LIFE STYLE</div>
                        </div>
                    </div>
                </div>
                <div id="template-i8nar" class="gjs-row">
                    <div id="template-i7v1k" class="gjs-cell">
                        <div id="template-iznyi" class="">
                            <div id="template-ixi23" class="">Hi Ragav</div>
                        </div>
                        <div id="template-ix4kg" class="">
                            <div id="template-ii73r" class="">Sedentary</div>
                        </div>
                    </div>
                    <div id="template-ix164" class="gjs-cell">
                        <img id="template-i9vxe" src="https://grapesjs-images.s3.amazonaws.com/grapesjsimages/Group%2017313.png"
                        class="" />
                    </div>
                </div>
                <div id="template-iujbv" class="gjs-row">
                    <div id="template-i2idg" class="gjs-cell"></div>
                </div>
                <div id="template-iw0iy" class="gjs-row">
                    <div id="template-ikfjw" class="gjs-cell">
                        <div id="template-ino9f" class="">
                            <div id="template-iyyhd" class="">Mostly Sitting Through The Day</div>
                        </div>
                    </div>
                    <div id="template-im0qh" class="gjs-cell">
                        <div id="template-ig4ea" class="">
                            <div id="template-il34h" class="">Cholesterol</div>
                        </div>
                    </div>
                    <div id="template-i2uun" class="gjs-cell">
                        <div id="template-ivia2" class="">
                            <div id="template-iqw31" class="">Depression</div>
                        </div>
                    </div>
                    <div id="template-i07n9" class="gjs-cell">
                        <div id="template-ivk7d" class="">
                            <div id="template-iovly" class="">Lose 26.9 Kgs To Reach A bmi Of 25 Kg/M2</div>
                        </div>
                        <div id="template-iu8vz" class="gjs-row">
                            <div id="template-ilvqm" class="gjs-cell">
                                <img id="template-i6e6y" src="https://grapesjs-images.s3.amazonaws.com/grapesjsimages/bmi.png"
                                class="" />
                            </div>
                            <div id="template-i6i0a" class="gjs-cell">
                                <div id="template-i3pmi" class="">
                                    <div id="template-i5r6g" class="">BMI = 34.9 kg/m2</div>
                                </div>
                            </div>
                        </div>
                        <div id="template-i3ow3" class="gjs-row">
                            <div id="template-imlks" class="gjs-cell">
                                <img src="https://grapesjs-images.s3.amazonaws.com/grapesjsimages/health.png"
                                id="template-ighhs" class="" />
                            </div>
                            <div id="template-iui9q" class="gjs-cell">
                                <div id="template-iofek" class="">
                                    <div id="template-i1yyy" class="">Healthy weight for the height 50.4 kgs - 68.1 kgs</div>
                                </div>
                            </div>
                        </div>
                        <div id="template-i2v6u" class="gjs-row">
                            <div id="template-iitnt" class="gjs-cell">
                                <img src="https://grapesjs-images.s3.amazonaws.com/grapesjsimages/lose%20weight.png"
                                id="template-i9jmj" class="" />
                            </div>
                            <div id="template-i8prf" class="gjs-cell">
                                <div id="template-i55r8" class="">
                                    <div id="template-iq9oj" class="">Lose 26.9 Kgs</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="template-id9g" class="gjs-cell">
        <div id="template-iko69" class="gjs-row">
            <div id="template-iss9g" class="gjs-cell">
                <div id="template-i0ezl" class="">
                    <div id="template-i0gzo" class="">YAY! All Set With The Info, Ready To Track</div>
                </div>
                <div id="template-idf7s" class="gjs-row">
                    <div id="template-i143z" class="gjs-cell">
                        <div id="template-iaa95" class="">
                            <div id="template-ir90f" class="">Your Basal Metabolic Rate (BMR) Is</div>
                        </div>
                        <div id="template-imuro" class="">
                            <div id="template-i37wj" class="">0 Kcal/Day</div>
                        </div>
                        <div id="template-i5m5l" class="gjs-row">
                            <div id="template-irzy3" class="gjs-cell"></div>
                        </div>
                    </div>
                    <div id="template-ibiok" class="gjs-cell">
                        <div id="template-ibpm7" class="">
                            <div id="template-iopsh" class="">According To Your Activity, You Should Have A Daily Calorie Intake Of</div>
                            <br
                            id="template-iuwjb" class="">
                        </div>
                        <div id="template-i1fwc" class="">
                            <div id="template-iwlau" class="">0 Kcal</div>
                        </div>
                        <div id="template-ib1jl" class="gjs-row">
                            <div id="template-ijvi4" class="gjs-cell"></div>
                        </div>
                    </div>
                    <div id="template-i8ffh" class="gjs-cell">
                        <div id="template-ifg9h" class="">
                            <div id="template-ijnt8" class="">Your Daily Water Intake Should Be</div>
                        </div>
                        <div id="template-i0ujg" class="">
                            <div id="template-itbxr" class="">4.81 Of Water Every Day</div>
                        </div>
                    </div>
                </div>
                <div id="template-i59uv" class="gjs-row">
                    <div id="template-ioy1p" class="gjs-cell">
                        <button id="template-izdjq" class="button btn btn-primary ">
                            <div id="template-ir1tg" class="">Get Started</div>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>