<h2 class="screen-align">Bmidetails1</h2>
<div id="template-i8ec" class="gjs-row">
    <div id="template-icj5" class="gjs-cell">
        <div id="template-iwem" class="gjs-row">
            <div id="template-iepn" class="gjs-cell">
                <div id="template-i93mt" class="gjs-row">
                    <div id="template-iekey" class="gjs-cell">
                        <div id="template-i1v7" class="gjs-row">
                            <div id="template-ihot" class="gjs-cell">
                                <img id="template-id9g" src="https://grapesjs-images.s3.amazonaws.com/grapesjsimages/noun-person-4851855%20%281%29.png"
                                class="" />
                            </div>
                            <div id="template-ihe7" class="gjs-cell">
                                <div id="template-izccu" class="">
                                    <div id="template-i0mdr" class="">Person Details</div>
                                </div>
                            </div>
                        </div>
                        <div id="template-i47pg" class="gjs-row">
                            <div id="template-ikx0y" class="gjs-cell">
                                <img src="https://grapesjs-images.s3.amazonaws.com/grapesjsimages/noun-weight-machine-3242102.png"
                                id="template-i106j" class="" />
                            </div>
                            <div id="template-iuwc3" class="gjs-cell">
                                <div id="template-ionag" class="">
                                    <div id="template-iqhgp" class="">BMI Details</div>
                                </div>
                            </div>
                        </div>
                        <div id="template-ifbpi" class="gjs-row">
                            <div id="template-igj5e" class="gjs-cell">
                                <img src="https://grapesjs-images.s3.amazonaws.com/grapesjsimages/run1.png"
                                id="template-iyml7" class="" />
                            </div>
                            <div id="template-ibte3" class="gjs-cell">
                                <div id="template-ituai" class="">
                                    <div id="template-iff4s" class="">Active Details</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="template-if9e" class="gjs-cell">
        <div id="template-i8ofj" class="gjs-row">
            <div id="template-imyqr" class="gjs-cell">
                <div id="template-iaovm" class="gjs-row">
                    <div id="template-ie9pn" class="gjs-cell">
                        <div id="template-izj8g" class="gjs-row">
                            <div id="template-iy33v" class="gjs-cell">
                                <div id="template-ikd9a" class="">
                                    <div id="template-idrl1" class="">What's Your Age?</div>
                                </div>
                                <div id="template-i1p6g" class="gjs-row">
                                    <div id="template-iserh" class="gjs-cell">
                                        <input id="template-ia3j1" class="input form-control " />
                                    </div>
                                </div>
                            </div>
                            <div id="template-iff9w" class="gjs-cell">
                                <div id="template-ij7zh" class="gjs-row">
                                    <div id="template-ix6zu" class="gjs-cell">
                                        <div id="template-iylnb" class="">
                                            <div id="template-ig2cl" class="">What's Your Gender?</div>
                                        </div>
                                    </div>
                                    <div id="template-ihx5f" class="gjs-cell">
                                        <div id="template-i768u" class=""></div>
                                        <div id="template-idyy4" class="gjs-row">
                                            <div id="template-i637g" class="gjs-cell">
                                                <div id="template-iqao7" class="gjs-row">
                                                    <div id="template-ic6m7" class="gjs-cell">
                                                        <img id="template-iogps" src="https://grapesjs-images.s3.amazonaws.com/grapesjsimages/male.png"
                                                        class="" />
                                                    </div>
                                                    <div id="template-i86ef" class="gjs-cell">
                                                        <div id="template-i7w6f" class="">
                                                            <div id="template-ian4g" class="">Male</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div id="template-i3xuh" class="gjs-cell">
                                                <div id="template-ia5vl" class="gjs-row">
                                                    <div id="template-i7pne" class="gjs-cell">
                                                        <img id="template-inr3s" src="https://grapesjs-images.s3.amazonaws.com/grapesjsimages/female.png"
                                                        class="" />
                                                    </div>
                                                    <div id="template-ihv18" class="gjs-cell">
                                                        <div id="template-i51zf" class="">
                                                            <div id="template-i9f2x" class="">Female</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="template-in79r" class=""></div>
                            </div>
                        </div>
                        <div id="template-i4p5lj" class="gjs-row">
                            <div id="template-iy2tiq" class="gjs-cell">
                                <div id="template-ihy1bz" class="">
                                    <div id="template-ia9m4w" class="">How Tall Are You?</div>
                                </div>
                            </div>
                            <div id="template-it69cl" class="gjs-cell">
                                <div id="template-iazivn" class=""></div>
                                <div id="template-izxstk" class="gjs-row">
                                    <div id="template-ilht2i" class="gjs-cell">
                                        <div id="template-ivk2tj" class="gjs-row">
                                            <div id="template-iekooj" class="gjs-cell">
                                                <input id="template-i7gvz6" class="input form-control " />
                                            </div>
                                        </div>
                                    </div>
                                    <div id="template-idaqij" class="gjs-cell">
                                        <div id="template-idd5ki" class="">
                                            <div id="template-ikm5bf" class="">Cm</div>
                                        </div>
                                    </div>
                                    <div id="template-itn0bo" class="gjs-cell">
                                        <div id="template-isc6mh" class="">
                                            <div id="template-if690o" class="">Feet</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="template-it198" class="gjs-row">
                            <div id="template-iskqj" class="gjs-cell">
                                <div id="template-i5m8i" class="">
                                    <div id="template-il9uls" class="">What's Your Current Weight?</div>
                                </div>
                            </div>
                            <div id="template-i7t6o" class="gjs-cell">
                                <div id="template-iwgys" class=""></div>
                                <div id="template-is1rw" class="gjs-row">
                                    <div id="template-inzay" class="gjs-cell">
                                        <div id="template-ifzbj" class="gjs-row">
                                            <div id="template-inqtl" class="gjs-cell">
                                                <input id="template-izsuf" class="input form-control " />
                                            </div>
                                        </div>
                                    </div>
                                    <div id="template-i4nbl" class="gjs-cell">
                                        <div id="template-ijlah" class="">
                                            <div id="template-il6x3" class="">Kg</div>
                                        </div>
                                    </div>
                                    <div id="template-ijpkdl" class="gjs-cell">
                                        <div id="template-iqw788" class="">
                                            <div id="template-iwvn3n" class="">Pound</div>
                                        </div>
                                    </div>
                                </div>
                                <div id="template-i48l8s" class="gjs-row">
                                    <div id="template-iezshc" class="gjs-cell">
                                        <div id="template-immmnl" class="gjs-row"></div>
                                        <button id="template-ixd1z1" class="button btn btn-primary ">
                                            <div id="template-ibtk2t" class="">Calculate</div>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="template-imwpr" class="gjs-cell">
                        <div id="template-if2o8e" class="gjs-row">
                            <div id="template-i9wjiv" class="gjs-cell"></div>
                        </div>
                    </div>
                </div>
                <div id="template-izdhjj" class="gjs-row">
                    <div id="template-ip6pdf" class="gjs-cell">
                        <div id="template-iummbg" class="">
                            <div id="template-ikyme8" class="">Back</div>
                        </div>
                    </div>
                    <div id="template-ij2koa" class="gjs-cell">
                        <button id="template-is48qq" class="button btn btn-primary ">
                            <div id="template-itlumg" class="">Next</div>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>