<h2 class="screen-align">Persondetails</h2>
<div id="template-iwnc" class="gjs-row">
    <div id="template-inv4" class="gjs-cell">
        <div id="template-imee" class="gjs-row">
            <div id="template-it8x" class="gjs-cell">
                <div id="template-i9ne" class="gjs-row">
                    <div id="template-ia1h" class="gjs-cell">
                        <div id="template-iucr" class="gjs-row">
                            <div id="template-ic2j" class="gjs-cell">
                                <img id="template-i7yts" src="https://grapesjs-images.s3.amazonaws.com/grapesjsimages/Person%20Details.png"
                                class="" />
                            </div>
                            <div id="template-igve7" class="gjs-cell">
                                <div id="template-i0luo" class="">
                                    <div id="template-ix2fz" class="">Person Details</div>
                                </div>
                            </div>
                        </div>
                        <div id="template-i73af" class="gjs-row">
                            <div id="template-ifj88" class="gjs-cell">
                                <img src="https://grapesjs-images.s3.amazonaws.com/grapesjsimages/Bmi%20Details.png"
                                id="template-ihhei" class="" />
                            </div>
                            <div id="template-ib1qy" class="gjs-cell">
                                <div id="template-ifbgc" class="">
                                    <div id="template-iskl5" class="">BMI Details</div>
                                </div>
                            </div>
                        </div>
                        <div id="template-i1rwh" class="gjs-row">
                            <div id="template-ik6uj" class="gjs-cell">
                                <img src="https://grapesjs-images.s3.amazonaws.com/grapesjsimages/Active%20Details.png"
                                id="template-irngf" class="" />
                            </div>
                            <div id="template-ispso" class="gjs-cell">
                                <div id="template-ip4bz" class="">
                                    <div id="template-id8bm" class="">Active Details</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="template-i1wh" class="gjs-cell">
        <div id="template-ieduu" class="gjs-row">
            <div id="template-irokh" class="gjs-cell">
                <div id="template-ifpmi" class="gjs-row">
                    <div id="template-i2f4o" class="gjs-cell">
                        <div id="template-i4vff" class="">
                            <div id="template-ix8bm" class="">Hey There !</div>
                        </div>
                        <div id="template-ikr2o" class="">
                            <div id="template-ixhz6" class="">We Appreciate You For Taking The Right Step Towards A Healthier You. Please
                                Provide Us Few More Details To Get Started</div>
                        </div>
                        <div id="template-ihhtf" class="gjs-row">
                            <div id="template-i1mp1" class="gjs-cell">
                                <div id="template-inuhz" class="gjs-row">
                                    <div id="template-itpl1" class="gjs-cell">
                                        <div id="template-i57qw" class="">
                                            <div id="template-i0trv" class="">Firts Name</div>
                                        </div>
                                        <input id="template-ieou6" class="input form-control " />
                                    </div>
                                </div>
                            </div>
                            <div id="template-i6nkg" class="gjs-cell">
                                <div id="template-it4v4" class="gjs-row">
                                    <div id="template-iejti" class="gjs-cell">
                                        <div id="template-i1p57" class="">
                                            <div id="template-is2ms" class="">Last Name</div>
                                        </div>
                                        <input id="template-ivafa" class="input form-control " />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="template-i8o69" class="gjs-row">
                            <div id="template-irfuj" class="gjs-cell">
                                <div id="template-i0xmy" class="gjs-row">
                                    <div id="template-igfmf" class="gjs-cell">
                                        <div id="template-i254w" class="">
                                            <div id="template-i25ag" class="">Where Are You From ?</div>
                                        </div>
                                        <div id="template-irpja" class="">
                                            <ng-select id="template-ikf6l" name="dynamicdropdown_template-ikf6l" [searchable]="true"
                                            [virtualScroll]="true" [items]="itemArray" bindLabel="" bindValue="" class="form-control "></ng-select>
                                        </div>
                                        <div value="1" id="template-iigl4" class="">
                                            <div id="template-inots" class="">1</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="template-ifou7" class="gjs-cell">
                                <div id="template-i99wl" class="gjs-row">
                                    <div id="template-i51ah" class="gjs-cell">
                                        <div id="template-i3lxf" class="">
                                            <div id="template-igg9x" class="">Select Your Language</div>
                                        </div>
                                        <div id="template-ik7kq" class="">
                                            <ng-select id="template-ioce2" name="dynamicdropdown_template-ioce2" [searchable]="true"
                                            [virtualScroll]="true" [items]="itemArray" bindLabel="" bindValue="" class="form-control "></ng-select>
                                        </div>
                                        <div value="1" id="template-i0mko" class="">
                                            <div id="template-isew8" class="">1</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="template-injbx" class="gjs-row">
                            <div id="template-igd5a" class="gjs-cell">
                                <div id="template-i0y5h" class="gjs-row">
                                    <div id="template-izsil" class="gjs-cell">
                                        <div id="template-io2z7" class="">
                                            <div id="template-i1f62" class="">What's Your Age?</div>
                                        </div>
                                        <input id="template-i626d" class="input form-control " />
                                        <div id="template-irbrc" class=""></div>
                                    </div>
                                </div>
                            </div>
                            <div id="template-i2jud" class="gjs-cell">
                                <div id="template-ixzib" class="gjs-row">
                                    <div id="template-iyfsl" class="gjs-cell">
                                        <div id="template-i7l6k" class="">
                                            <div id="template-i16v8" class="">Back To login</div>
                                        </div>
                                    </div>
                                    <div id="template-i73rc" class="gjs-cell">
                                        <button id="template-io9kj" class="button btn btn-primary ">
                                            <div id="template-ijz4i" class="">Next</div>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>