<h2 class="screen-align">Bmidetails</h2>
<div id="template-iyr5" class="gjs-row">
    <div id="template-ildz" class="gjs-cell">
        <div id="template-iegn" class="gjs-row">
            <div id="template-icqm" class="gjs-cell">
                <div id="template-ii8g" class="gjs-row">
                    <div id="template-ik0p" class="gjs-cell">
                        <img id="template-i9a7h" src="https://grapesjs-images.s3.amazonaws.com/grapesjsimages/Person%20Details.png"
                        class="" />
                        <div id="template-iqg18" class="">
                            <div id="template-if1pi" class="">Person Details</div>
                        </div>
                    </div>
                </div>
                <div id="template-ibfdt" class="gjs-row">
                    <div id="template-itrw4" class="gjs-cell">
                        <img src="https://grapesjs-images.s3.amazonaws.com/grapesjsimages/Bmi%20Details.png"
                        id="template-iyntg" class="" />
                        <div id="template-i51a7" class="">
                            <div id="template-i6008" class="">BMI Details</div>
                        </div>
                    </div>
                </div>
                <div id="template-ifsgo" class="gjs-row">
                    <div id="template-isp12" class="gjs-cell">
                        <img src="https://grapesjs-images.s3.amazonaws.com/grapesjsimages/Active%20Details.png"
                        id="template-ist4r" class="" />
                        <div id="template-ikjdp" class="">
                            <div id="template-iib6m" class="">Active Details</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="template-iika" class="gjs-cell">
        <div id="template-itpra" class="gjs-row">
            <div id="template-i6kek" class="gjs-cell">
                <div id="template-i97bm" class="gjs-row">
                    <div id="template-ivksk" class="gjs-cell">
                        <div id="template-i8nug" class="gjs-row">
                            <div id="template-igj43" class="gjs-cell">
                                <div id="template-i1qes" class="">
                                    <div id="template-isga7" class="">What's Your Gender?</div>
                                    <br id="template-i5ebx" class="">
                                </div>
                                <div id="template-i7xdn" class=""></div>
                                <div id="template-ipsem" class="gjs-row">
                                    <div id="template-ippsf" class="gjs-cell">
                                        <div id="template-iv2z8" class="gjs-row">
                                            <div id="template-iz5f2" class="gjs-cell">
                                                <img src="https://grapesjs-images.s3.amazonaws.com/grapesjsimages/male.png"
                                                id="template-ih8h8" class="" />
                                            </div>
                                            <div id="template-iskel" class="gjs-cell">
                                                <div id="template-ij81b" class="">
                                                    <div id="template-ifj2i" class="">Male</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="template-iipz3" class="gjs-cell">
                                        <div id="template-i54la" class="gjs-row">
                                            <div id="template-ikcng" class="gjs-cell">
                                                <img src="https://grapesjs-images.s3.amazonaws.com/grapesjsimages/female.png"
                                                id="template-inzqk" class="" />
                                            </div>
                                            <div id="template-ivzd5" class="gjs-cell">
                                                <div id="template-iyw5m" class="">
                                                    <div id="template-iy2i7" class="">Female</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="template-i8r5v" class="gjs-cell">
                                        <div id="template-izklm" class="gjs-row">
                                            <div id="template-ivsdq" class="gjs-cell">
                                                <img src="https://grapesjs-images.s3.amazonaws.com/grapesjsimages/male.png"
                                                id="template-i8dnr" class="" />
                                            </div>
                                            <div id="template-iq2fk" class="gjs-cell">
                                                <div id="template-i8sdd" class="">
                                                    <div id="template-iqkhf" class="">Other</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="template-iafzh" class="gjs-row">
                            <div id="template-idqro" class="gjs-cell">
                                <div id="template-i3mag" class="">
                                    <div id="template-i07t1" class="">What's Your Current Weight?</div>
                                </div>
                                <div id="template-i38xn" class="gjs-row">
                                    <div id="template-ivbjj" class="gjs-cell">
                                        <input id="template-ixyki" class="input form-control " />
                                    </div>
                                    <div id="template-idz3j" class="gjs-cell">
                                        <div id="template-i9b1z" class="gjs-row">
                                            <div id="template-iu2xs" class="gjs-cell">
                                                <div id="template-iei8d" class="">
                                                    <div id="template-ita3y" class="">Cm</div>
                                                </div>
                                            </div>
                                            <div id="template-ivbfd" class="gjs-cell">
                                                <div id="template-irq7j" class="">
                                                    <div id="template-i18n3" class="">Feet</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="template-in4bo" class="gjs-row">
                            <div id="template-iuttb" class="gjs-cell">
                                <div id="template-ia6rz" class="">
                                    <div id="template-icyjk" class="">How Tall Are You?</div>
                                </div>
                                <div id="template-iz2q7" class="gjs-row">
                                    <div id="template-i49yr" class="gjs-cell">
                                        <input id="template-ihezj" class="input form-control " />
                                    </div>
                                    <div id="template-iemw7" class="gjs-cell">
                                        <div id="template-i7022" class="">
                                            <div id="template-icwss" class="">kg</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="template-i6q6g" class="gjs-row">
                            <div id="template-ifg8o" class="gjs-cell">
                                <button id="template-igxbl" class="button btn btn-primary ">
                                    <div id="template-ikshy" class="">Calculate</div>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div id="template-ihc4j" class="gjs-cell">
                        <div id="template-ihky5" class="gjs-row">
                            <div id="template-ictxk" class="gjs-cell">
                                <div id="template-ilklp" class="gjs-row">
                                    <div id="template-ii3et" class="gjs-cell"></div>
                                </div>
                            </div>
                        </div>
                        <div id="template-i2i3m7" class="gjs-row">
                            <div id="template-izxodk" class="gjs-cell">
                                <div id="template-il1m6l" class="gjs-row">
                                    <div id="template-ituj0p" class="gjs-cell">
                                        <div id="template-ilj67j" class="">
                                            <div id="template-io8ocf" class="">Back</div>
                                        </div>
                                    </div>
                                    <div id="template-ihedi8" class="gjs-cell">
                                        <button id="template-ikb714" class="button btn btn-primary ">
                                            <div id="template-iu2wnl" class="">Nect</div>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>