<h2 class="screen-align">Persondetails1</h2>
<div id="template-i8ec" class="gjs-row">
    <div id="template-icj5" class="gjs-cell">
        <div id="template-iwem" class="gjs-row">
            <div id="template-iepn" class="gjs-cell">
                <div id="template-i93mt" class="gjs-row">
                    <div id="template-iekey" class="gjs-cell">
                        <div id="template-i1v7" class="gjs-row">
                            <div id="template-ihot" class="gjs-cell">
                                <img id="template-id9g" src="https://grapesjs-images.s3.amazonaws.com/grapesjsimages/noun-person-4851855%20%281%29.png"
                                class="" />
                            </div>
                            <div id="template-ihe7" class="gjs-cell">
                                <div id="template-izccu" class="">
                                    <div id="template-i0mdr" class="">Person Details</div>
                                </div>
                            </div>
                        </div>
                        <div id="template-i47pg" class="gjs-row">
                            <div id="template-ikx0y" class="gjs-cell">
                                <img src="https://grapesjs-images.s3.amazonaws.com/grapesjsimages/noun-weight-machine-3242102.png"
                                id="template-i106j" class="" />
                            </div>
                            <div id="template-iuwc3" class="gjs-cell">
                                <div id="template-ionag" class="">
                                    <div id="template-iqhgp" class="">BMI Details</div>
                                </div>
                            </div>
                        </div>
                        <div id="template-ifbpi" class="gjs-row">
                            <div id="template-igj5e" class="gjs-cell">
                                <img src="https://grapesjs-images.s3.amazonaws.com/grapesjsimages/run1.png"
                                id="template-iyml7" class="" />
                            </div>
                            <div id="template-ibte3" class="gjs-cell">
                                <div id="template-ituai" class="">
                                    <div id="template-iff4s" class="">Active Details</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="template-if9e" class="gjs-cell">
        <div id="template-i8ofj" class="gjs-row">
            <div id="template-imyqr" class="gjs-cell">
                <div id="template-iaovm" class="gjs-row">
                    <div id="template-ie9pn" class="gjs-cell">
                        <div id="template-imwzq" class="gjs-row">
                            <div id="template-i0oc3" class="gjs-cell">
                                <div id="template-iwku7" class="">
                                    <div id="template-i9hoz" class="">Hey There !</div>
                                </div>
                            </div>
                            <div id="template-it4nn" class="gjs-cell">
                                <div id="template-iah1l" class="">
                                    <div id="template-iwe7n" class="">We appreciate you for taking the right step towards a healthier you. please
                                        provide us few more details to get started.</div>
                                </div>
                            </div>
                        </div>
                        <div id="template-iyesr" class="gjs-row">
                            <div id="template-iuw7h" class="gjs-cell">
                                <div id="template-iuhbr" class="gjs-row">
                                    <div id="template-iaezd" class="gjs-cell">
                                        <div id="template-i7lpw" class="">
                                            <div id="template-i82od" class="">First Name </div>
                                        </div>
                                    </div>
                                    <div id="template-ii5ej" class="gjs-cell">
                                        <input id="template-ioqyt" class="input form-control " />
                                    </div>
                                </div>
                            </div>
                            <div id="template-iob5r" class="gjs-cell">
                                <div id="template-ibp5i" class="gjs-row">
                                    <div id="template-ikjzf" class="gjs-cell">
                                        <div id="template-itvzi" class="">
                                            <div id="template-isan9" class="">last Name </div>
                                        </div>
                                    </div>
                                    <div id="template-iw3ve" class="gjs-cell">
                                        <input id="template-ivbbl" class="input form-control " />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="template-ib6es" class="gjs-row">
                            <div id="template-ium4k" class="gjs-cell">
                                <div id="template-i9v2j" class="gjs-row">
                                    <div id="template-i0j6i" class="gjs-cell">
                                        <div id="template-ic5wv" class="">
                                            <div id="template-io66k" class="">Select your Country</div>
                                        </div>
                                    </div>
                                    <div id="template-ia99a" class="gjs-cell">
                                        <div id="template-iani3" class="">
                                            <ng-select id="template-i9kan" name="dynamicdropdown_template-i9kan" [searchable]="true"
                                            [virtualScroll]="true" [items]="itemArray" bindLabel="" bindValue="" class="form-control "></ng-select>
                                        </div>
                                        <div value="1" id="template-ijcaa" class="">
                                            <div id="template-iwwf4" class="">1</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="template-iqwc6" class="gjs-cell">
                                <div id="template-ifut9" class="gjs-row">
                                    <div id="template-i4is4" class="gjs-cell">
                                        <div id="template-iz7no" class="">
                                            <div id="template-imnh7" class="">Select your City</div>
                                        </div>
                                    </div>
                                    <div id="template-iqj5l" class="gjs-cell">
                                        <div id="template-it0sk" class="">
                                            <ng-select id="template-irf9r" name="dynamicdropdown_template-irf9r" [searchable]="true"
                                            [virtualScroll]="true" [items]="itemArray" bindLabel="" bindValue="" class="form-control "></ng-select>
                                        </div>
                                        <div value="1" id="template-iageg" class="">
                                            <div id="template-iwkmi" class="">1</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="template-iocc2g" class="gjs-row">
                            <div id="template-iloeg" class="gjs-cell">
                                <div id="template-idwxn" class="gjs-row">
                                    <div id="template-iaokz" class="gjs-cell">
                                        <div id="template-iprsg" class="">
                                            <div id="template-ijm7vj" class="">Select your Language</div>
                                        </div>
                                    </div>
                                    <div id="template-ij6ut" class="gjs-cell">
                                        <div id="template-imjyx" class="">
                                            <ng-select id="template-imzri" name="dynamicdropdown_template-i9kan" [searchable]="true"
                                            [virtualScroll]="true" [items]="itemArray" bindLabel="" bindValue="" class="form-control "></ng-select>
                                        </div>
                                        <div value="1" id="template-igkiy" class="">
                                            <div id="template-iimlu" class="">1</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="template-i22ues" class="gjs-cell">
                                <div id="template-ioniix" class="gjs-row">
                                    <div id="template-ihjus" class="gjs-cell">
                                        <div id="template-iy3yl" class="">
                                            <div id="template-idf91l" class="">What's your Age?</div>
                                        </div>
                                    </div>
                                    <div id="template-imm7g1" class="gjs-cell">
                                        <div id="template-izjk6h" class=""></div>
                                        <input id="template-it1afk" class="input form-control " />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="template-iaiux" class="gjs-row">
                            <div id="template-ipdba" class="gjs-cell">
                                <div id="template-ibcqz" class="gjs-row">
                                    <div id="template-itkam" class="gjs-cell">
                                        <div id="template-ihwpg" class="">
                                            <div id="template-i37ul" class="">Back to login</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="template-i8166" class="gjs-cell">
                                <div id="template-ixmnt" class="gjs-row">
                                    <div id="template-iwmsg" class="gjs-cell">
                                        <div id="template-ipprx" class="gjs-row">
                                            <div id="template-i4flk" class="gjs-cell">
                                                <button id="template-izukh" class="button btn btn-primary ">
                                                    <div id="template-ifoki" class="">Next</div>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>